.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.logo {
    display: flex;
}

.logo-image {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav-items {
    display: flex;
}

.nav-item {
    margin: 15px;
}

.nav-item > a {
    text-decoration: none;
    color: #333333;
}

.nav-item > a:hover {
    color: #4d4d4d;
}
