.footerTitlesCopy {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;

    color: #333333;
}
.footerBodyCopy {
    /* Enterprise plans Security and compliance Adoption plans Economic impact Tracking your progress How to request a demo */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    letter-spacing: 0.05em;

    color: #333333;

    margin-top: 20px;
}

.footerBodyCopy > div {
    margin-top: 10px;
}

.sitemapTitlesCopy {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: #333333;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin-right: 5px;
}

.container {
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgb(238, 238, 238);
}
.container > .icon-logo {
    display: inline-block;
}
